<div class="card">
  <div class="card-header">{{pageTitle}}</div>

  <div class="table-responsive">
    <table class="table" *ngIf="equipments && equipments.length">
      <thead>
        <tr>
          <th>Equipment Id</th>
          <th>Equipment Type</th>
          <th>Equipment Name</th> 
          <th>Add to Card</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of equipments">
          <td>{{equipment.equipmentId}}</td>
          <td>{{equipment.equipmentTypeName}}</td>
          <td>{{equipment.equipmentName}}</td>
          <td><a class="btn btn-primary"  [routerLink]="['/add-to-card',equipment.equipmentId]" role="button">Add To Card</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>